{% extends "base.html" %}

{% block title %} Escolher orientador {% endblock %}

{% block content %}

    <article class="ui stackable grid">

    	<div class="three wide column">

	        {% block menu %}
	            {% include 'menus.html' %}
	        {% endblock %}

	    </div>

    	<div class="thirteen wide column">

    		<div class="ui green segment">

    			<div class="ui two column grid">
						
					<div class="ui left aligned column">

						<div class="ui selection dropdown">
							<input type="hidden" name="classificacao">
							<div class="default text">Classificar por:</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="0">Orientador A-Z</div>
								<div class="item" data-value="1">Orientador Z-A</div>
								<div class="item" data-value="2">Curso</div>
								<div class="item" data-value="3">Status de solicitação</div>
							</div>
						</div>
					</div>
						
					<div class="ui right aligned column">
						<div class="ui icon input">
							<input type="text" placeholder="Procurar...">
							<i class="search icon"></i>
						</div>
					</div>
					
				</div>

				<div class="ui fitted divider"></div>

				<div class="ui one column grid">
						
					<div class="ui right aligned column">
						<div class="ui pagination menu">
							 <a class="icon item">
							   <i class="left arrow icon"></i>
							 </a>

							 <a class="item"> 5 de 5 </a>
							  
							 <a class="icon item">
							   <i class="right arrow icon"></i>
							 </a>
						</div>
					</div>
					
				</div>

				<table class="ui celled segment table">

					<thead>
						<tr>
							<th>
								Nome
							</th>
								
							<th>
								Curso
							</th>

							<th>
								Solicitação
							</th>

							<th>
								Status de solicitação
							</th>
								
						</tr>
					</thead>

					<tbody>

							{% for orientador in informacao_orientador %}
							
						<tr>
											
							<td>
								{{orientador.nome}}
							</td>

							<td>
									
								{{ orientador.curso }}
									
							</td>

							<td>

								<div class="two fluid small ui buttons">
					              <div class="ui positive button">Solicitar</div>
					              <div class="ui negative button">Cancelar</div>
					            </div>
								
							</td>

							<td>
								{{orientador.status}}								
							</td>

						</tr>
							
							{% endfor %}

					</tbody>					
				
				</table>

    		</div>

    	</div>

    </article>


{% endblock %}