{% extends "base.html" %}

{% block title %} Detalhe vaga {% endblock %}

{% block content %}

    <article class="ui stackable grid">

    	<div class="three wide column">

	        {% block menu %}
	            {% include 'menus.html' %}
	        {% endblock %}

	    </div>

    	<div class="thirteen wide column">

    		<div class="ui green segment">

    			<div class="ui two divided stackable column grid">


    				<div class="column">

	    				<div class="ui big list">
							<div class="item">
								<div class="header"><i class="info icon"></i>Dados gerais</div>
							</div>
						</div>

						<div class="ui raised segment">

							<div class="ui big relaxed list">

							<div class="item">

								<div class="content">								
									<div class="header">Descrição</div>
									<div class="description">{{vaga.descricao}}</div>									  
								</div>
							</div>

							<div class="item">
								<div class="content">								
									<div class="header">Função</div>
									<div class="description">{{vaga.funcao}}</div>							
								</div>
							</div>

						</div>

						</div>	

						<div class="ui big list">
							<div class="item">
								<div class="header"><i class=" moon icon"></i>Turno</div>	
							</div>
						</div>

						<div class="ui raised segment"> 

							<div class="ui big relaxed list">

								<div class="item">
									<div class="description">{{vaga.turno}}</div>
								</div>
							</div>

						</div>

						<div class="ui big relaxed list">
							<div class="item">
								<div class="header"><i class="time icon"></i>Horário</div>
							</div>
						</div>

						<div class="ui raised segment"> 

							<div class="ui big relaxed list">

								<div class="item">

									<div class="content">								
										<div class="header">Horário de entrada</div>
										<div class="description">{{vaga.hora_inicio}}</div>									  
									</div>
								</div>

								<div class="item">
									<div class="content">								
										<div class="header">Horário de saída</div>
										<div class="description">{{vaga.hora_fim}}</div>							
									</div>
								</div>

							</div>

						</div>	

					</div>
		

				<div class="column">

					<div class="ui big list">
							<div class="item">
								<div class="header"><i class="dollar icon"></i>Auxílios</div>
							</div>
						</div>

						<div class="ui raised segment"> 

							<div class="ui big relaxed list">

							<div class="item">

								<div class="content">								
									<div class="header">Tipo auxílio</div>
									<div class="description">{{vaga.auxilios.auxilio1}}</div>									  
								</div>
							</div>

							<div class="item">

								<div class="content">								
									<div class="header">Tipo auxílio</div>
									<div class="description">{{vaga.auxilios.auxilio2}}</div>									  
								</div>
							</div>

							<div class="item">

								<div class="content">								
									<div class="header">Tipo auxílio</div>
									<div class="description">{{vaga.auxilios.auxilio3}}</div>									  
								</div>
							</div>

						</div>		
					</div>

					<div class="ui big  list">
						<div class="item">
							<div class="header"><i class=" asterisk icon"></i>Nº de vagas restantes</div>	
						</div>
					</div>

					<div class="ui raised segment"> 

						<div class="ui big list">

							<div class="item">
								<div class="description">{{vaga.numero_vagas}}</div>
							</div>
						</div>

					</div>		

				</div>

				</div>

    			<div class="ui divider"></div>

				<button class="ui red left floated labeled icon button"> 
	                <i class="left arrow icon"></i>
	                Voltar 
	            </button>

	            <!-- Botão "Me candidatar" só deve aparecer se o usuário logado for o aluno -->

	            <button class="ui green right floated labeled icon button"> 
	                <i class="checkmark icon"></i>
	                Me candidatar! 
	            </button>
    			
    		</div>

    	</div>

    </article>

{% endblock %}