{% extends "base.html" %}

{% block title %} Detalhe oferta {% endblock %}

{% block content %}

<article class="ui stackable grid">

	<div class="three wide column">

        {% block menu %}
            {% include 'menus.html' %}
        {% endblock %}

    </div>

    <div class="thirteen wide column">

    	<div class="ui green segment">


    		<h3 class="ui header">
		      	Oferta
		    </h3>

			<div class="ui two column segment stackable divided grid">

				<div class="column">

					<div class="ui relaxed list">

						<div class="item">
							<div class="content">
								<div class="header">Descrição</div>
								<div class="description">{{oferta.descricao}}</div>
							</div>
						</div>

						<div class="item">
							<div class="content">
								<div class="header">Data de vencimento</div>
								<div class="description">{{oferta.data_vencimento}}</div>
							</div>
						</div>

					</div>

				</div>


				<div class="column">

				    <div class="ui relaxed list">

						<div class="item">
							<div class="content">
								<div class="header">Total de vagas</div>
								<div class="description">{{ total_vagas }}</div>
							</div>
						</div>

						<div class="item">
							<div class="content">
								<div class="header">Vagas disponíveis</div>
								<div class="description">{{vagas_disponiveis}}</div>

							</div>
						</div>

					</div>

				</div>

			</div>

    		<h3 class="ui header">
		      	Empresa
		    </h3>

			<div class="ui accordion">

			  	<div class="title">
			    	<i class="dropdown icon"></i>
			    	Clique para ver detalhes sobre a empresa
			  	</div>

			  	<div class="content">

			  		<div class="ui list">
						<div class="item">
							<div class="header"><i class="circular info icon"></i>Dados gerais</div>
						</div>
					</div>

			    	<div class="ui relaxed horizontal list">

						<div class="item">
							<div class="content">
								<div class="header">Nome</div>
								<div class="description">{{empresa.concedente}}</div>			  
							</div>
						</div>

						<div class="item">
							<div class="content">
								<div class="header">Área de atuação</div>
								<div class="description">{{empresa.area_atuacao}}</div>				  
							</div>
						</div>

					</div>

					<div class="ui relaxed list">
						<div class="item">
							<div class="header"><i class="circular url icon"></i>Website</div>
							<div class="description">{{empresa.website}}</div>
						</div>
					</div>

					<div class="ui list">
						<div class="item">
							<div class="header"><i class="circular road icon"></i>Endereço</div>
						</div>
					</div>

					<div class="ui relaxed horizontal list">

						<div class="item">

							<div class="content">								
								<div class="header">Rua</div>
								<div class="description">{{empresa.endereco.rua}}</div>									  
							</div>
						</div>

						<div class="item">
							<div class="content">								
								<div class="header">Nº, complemento</div>
								<div class="description">{{empresa.endereco.numero}}</div>							
							</div>
						</div>

					</div>

					<div class="ui relaxed horizontal list">
						    
						<div class="item">
							<div class="content">
							  <div class="header">Bairro</div>
							  <div class="description">{{empresa.endereco.bairro}}</div>
							</div>
						</div>
						
						<div class="item">
							<div class="content">
							   <div class="header">Cidade</div>
							   <div class="description">{{empresa.endereco.cidade}}</div>
							</div>
						</div>
							
						<div class="item">
							<div class="content">
								<div class="header">CEP</div>
							    <div class="description">{{empresa.endereco.CEP}}</div>
							</div>
						</div>

					</div>

					<div class="ui relaxed horizontal list">
						<div class="item">
							<div class="content">
								<div class="header">Referência</div>
								<div class="description">{{empresa.endereco.referencia}}</div>
							</div>
						</div>
					</div>

					<div class="ui list">

						<div class="item">
						 	<div class="header"><i class="circular phone icon"></i>Contato</div>
						</div>

					</div>

					<div class="ui relaxed horizontal list">
						<div class="item">
							<div class="content">
								<div class="header">Tipo contato</div>
								<div class="description">{{empresa.contato}}</div>
							</div>
						</div>
					</div>

				</div>

			
			  
			</div>
			
			<h3 class="ui header">
		      	Vagas 
		      	<p class="sub header">Verifique abaixo, detalhes das vagas disponibilizadas para esta oferta</p>
		    </h3>

		    <table class="ui celled center aligned segment table">

				<thead>
					<tr>

						<th>
							Descrição
						</th>
								
						<th>
							Função
						</th>

						<th>
							Turno
						</th>

						<th>
							Hora início
						</th>

						<th>
							Hora fim
						</th>
								
					</tr>
				</thead>

					<tbody>
						{% for vaga in vagas %}

							<td>
								<a href="/aluno_coord_detalhe_vaga">	
									{{ vaga.descricao }}
								</a>	
							</td>

							<td>
								{{ vaga.funcao }}
							</td>

							<td>
								{{ vaga.turno }}
							</td>

							<td>
								{{ vaga.hora_inicio }}
							</td>

							<td>
								{{ vaga.hora_fim }}
							</td>

						</tr>
							
						{% endfor %}

					</tbody>					
				
			</table>

			<div class="ui divider"></div>

			<button class="ui red left floated labeled icon button"> 
                <i class="left arrow icon"></i>
                Voltar 
            </button>
		   
    	</div>

    </div>

</article>

{% endblock %}