{% extends "base.html" %}

{% block title %} Todas as ofertas {% endblock %}

{% block content %}

	<article class="ui stackable grid">

		<div class="three wide column">

			{% block menu %}
                {% include 'menus.html' %}
            {% endblock %}

		</div>

		<div class="thirteen wide column">

			<div class="ui green segment">		

					<div class="ui two column grid">
						
						<div class="ui left aligned column">

							<div class="ui selection dropdown">
								<input type="hidden" name="classificacao">
								<div class="default text">Classificar por:</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" data-value="1">Oferta A-Z</div>
									<div class="item" data-value="0">Oferta Z-A</div>
									<div class="item" data-value="2">Data de publicação</div>
								</div>
							</div>
						</div>
						
						<div class="ui right aligned column">
							<div class="ui icon input">
								<input type="text" placeholder="Procurar...">
								<i class="search icon"></i>
							</div>
						</div>
					
					</div>

					<div class="ui divider"></div>

					<div class="ui one column grid">
						
						<div class="ui right aligned column">
							<div class="ui pagination menu">
							  <a class="icon item">
							    <i class="left arrow icon"></i>
							  </a>

							  <a class="item"> 5 de 5 </a>
							  
							  <a class="icon item">
							    <i class="right arrow icon"></i>
							  </a>
							</div>
						</div>
					
					</div>

					<table class="ui celled segment table">

						<thead>
							<tr>
								<th>
									Descrição
								</th>
								
								<th>
									Empresa
								</th>

								<th>
									Data de publicação
								</th>
								
							</tr>
						</thead>

						<tbody>

							{% for oferta in ofertas %}
							
							<tr>
											
								<td>
									<a href="/aluno_coord_detalhe_oferta">
										{{ oferta.descricao }}
									</a>
								</td>

								<td>
									
									{{ oferta.concedente }}
									
								</td>

								<td>
									{{ oferta.data }}
								</td>

							</tr>
							
							{% endfor %}

						</tbody>					
				
					</table>

					<div class="ui one column grid">
						
						<div class="ui right aligned column">
							<div class="ui pagination menu">
							  <a class="icon item">
							    <i class="left arrow icon"></i>
							  </a>

							  <a class="item"> 5 de 5 </a>
							  
							  <a class="icon item">
							    <i class="right arrow icon"></i>
							  </a>
							</div>
						</div>
					
					</div>

				</div>
			</div>

		</div>

	</article>

{% endblock %}