{% extends "base.html" %}

{% block title %}Consulta empresas {% endblock %}

{% block content %}

	<article class="ui stackable grid">

	    <div class="three wide column">

	    	{% block menu %}
	            {% include 'menus.html' %}
	        {% endblock %}

	    </div>

	    <div class='thirteen wide column'>

	    	<div class="ui green segment">


				<div class="ui tabular filter menu">

					<a class="item" data-tab="todas">
						Todas as empresas
					</a>

				</div>

				<div  class="ui active tab" data-tab='todas'>

					<div class="ui two column grid" >

							<div class="ui left aligned column">

								<div class="ui selection dropdown">
									<input type="hidden" name="classificacao">
									<div class="default text">Classificar por:</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="0">Empresa A-Z</div>
										<div class="item" data-value="1">Empresa Z-A</div>
										<div class="item" data-value="2">Status</div>
										<div class="item" data-value="3">Nome da empresa</div>
										<div class="item" data-value="4">Tipo concedente</div>
										<div class="item" data-value="5">Área de atuação</div>
									</div>
								</div>
							</div>

							<div class="ui right aligned column">
								<div class="ui icon input">
									<input type="text" placeholder="Procurar...">
									<i class="search icon"></i>
								</div>
							</div>

					</div>

					<div class="ui divider"></div>

						<table class="ui center aligned celled segment table">
							<thead>
								<tr>
									<th> Status </th>
									<th> Nome da empresa </th>
						    		<th> Tipo concedente </th>
						    		<th> Área de atuação </th>
						    		
								</tr>
							</thead>
							<tbody>
					    	{% for empresa in empresas %}
					    		<tr>
					    			{% with status as empresa.status %}
					    				{% with 'status'|add:empresa.status as classe %}
						    			<td> 
						    				<div class="ui {{empresa.status}} circular label">
						    			</td>
						    			{% endwith %}
									{% endwith %}

						    			<td> {{ empresa.nome_empresa }}</td>
						    			<td> {{ empresa.tipo_concedente }} </td>
						    			<td> {{ empresa.area_atuacao }} </td>

					    		</tr>
					    	{% endfor %}
					    	</tbody>

						</table>

					<aside class="ui horizontal list">

						<div class="item">
							Legenda:
						</div>

						<div class="item">
							<div class="ui status3 circular label"> </div> Ativo
						</div>

						<div class="item">
							<div class="ui status5 circular label"> </div> Inativo
						</div>
					
					</aside>

				</div>

			

	    </div>

	</article>

{% endblock %}


