{% extends "base.html" %}

{% block title %} Detalhe candidato {% endblock %}

{% block content %}

	<article class="ui stackable grid middle aligned" 	id='add_oferta'>

		<div class="three wide column">

			{% block menu %}
				{% include 'menus.html' %}
			{% endblock %}

		</div>

		<div class="thirteen wide column">

			<div class="ui green segment ">

		        <h2 class="ui header">
		          Detalhe Candidato
		        </h2>
		        <div class='ui grid'>

		        	<div class='two column row'>
		        		<div class='column'>
		        			<h4 class='ui header'> Nome: 
		        				<p class='sub header'>  {{ candidato.aluno.first_name }}</p>
		        			</h4>
		        		</div>
		        		<div class='column'>
		        			<h4 class='ui header'> Email: 
		        				<p class='sub header'>  {{ candidato.aluno.email }}</p>
		        			</h4>
		        		</div>
		        	</div>
		        	<div class='two column row'>
		        		<div class='column'>
		        			<h4 class='ui header'> Curso: 
		        				<p class='sub header'>  {{ candidato.aluno.curso.nome }}</p>
		        			</h4>
		        		</div>
		        		<div class='column'>
		        			<h4 class='ui header'> Duração do Curso: 
		        				<p class='sub header'>  {{ candidato.aluno.curso.tempo_minimo }} semestres</p>
		        			</h4>
		        		</div>
		        	</div>
		       	</div>
		       	<div class='ui divider'></div>
		       	<button type="button" class="ui floated left red labeled icon button" > 
            		<i class="left arrow icon"></i>
            		Voltar
        		</button>

        		<!-- Botão "Contratar" só deve aparecer se o usuário logado for a empresa -->

		       	<button type="button" class="ui floated right green labeled icon button" > 
            		<i class="checkmark icon"></i>
            		Contratar
        		</button>
		    </div>
		</div>
	</article>
{% endblock %}