{% extends "base.html" %}

{% block title %} Todos candidatos {% endblock %}

{% block content %}

	<article class="ui stackable grid middle aligned" 	id='add_oferta'>

		<div class="three wide column">

			{% block menu %}
				{% include 'menus.html' %}
			{% endblock %}

		</div>

		<div class="thirteen wide column">

			<div class="ui green segment ">

		        <h2 class="ui header">
		          Candidatos por vaga
		        </h2>
		        <div class="ui two column grid">
						
					<div class="ui left aligned column">

						<div class="ui selection dropdown">
							<input type="hidden" name="classificacao">
							<div class="default text">Classificar por:</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="1">Candidato A-Z</div>
								<div class="item" data-value="0">Candidato Z-A</div>
								<div class="item" data-value="2">Data de Candidatura</div>
							</div>
						</div>
					</div>
					
					<div class="ui right aligned column">
						<div class="ui icon input">
							<input type="text" placeholder="Procurar...">
							<i class="search icon"></i>
						</div>
					</div>
				
				</div>

        		<div class="ui divider"></div>
		        <div class='ui two column grid'> 
		        	<div class='row'>
		          		<div class='column'>Função: {{vaga.funcao}}</div>  

		          		<div class='column'>Turno: {{ vaga.turno }}</div>
		          	</div>
		        </div>
		        <table class='ui celled segment table'>
				    	<thead>
				    		
				    		<tr>
				    			<th> Nome </th>
				    			<th> Data de Candidatura </th>
				    		</tr>
				    	</thead>

				    	<tbody>
				    	{% for candidatura in candidatos %}
				    		<tr>
				    			<td> <a href='/emp_coord_detalhe_candidato/'>{{ candidatura.first_name }}</a></td>
				    			<td> {{ candidatura.data }} </td>

				    		</tr>
				    	{% endfor %}
				    	</tbody>

				    </table>
			</div>
		</div>
	</article>
{% endblock %}