{% extends "base.html" %}

{% block title %} Adicionar oferta {% endblock %}

{% block content %}

	<article class="ui stackable grid middle aligned" 	id='add_oferta'>

		<div class="three wide column">

			{% block menu %}
				{% include 'menus.html' %}
			{% endblock %}

		</div>

		<div class="thirteen wide column">

			<div class="ui green segment ">

		        <h2 class="ui header">
		          Inserir nova oferta
		          <p class="sub header">Por favor, preencha o formulário de solicitação abaixo.</p>
		        </h2>
		        <form class="ui form raised segment" method="POST" action="." autocomplete="off" id="form-solicitacao">

			        <div class="ui two fields">

	                    <div class='field'>
	                    	<div class='field'>
		                    	<label for="titulo">Título </label>
			                    <div class="ui left labeled icon input">
		                            <input id="titulo" name="titulo" value="" required> 
	                            	<i class="asterisk icon"></i>
	                       		</div>
	                       	</div>
	                    </div>
                        <div class='field'>
	                    	<label for="descricao_oferta">Descrição </label>
		                    <div class="ui right labeled icon input">
	                            <textarea id="descricao_oferta" name="descricao_oferta" value="" required> </textarea> 
	                            <i class="asterisk icon"></i>
                        	</div>
                    	</div>  
	                </div>
	                <div class="ui two fields">
	                <div class='field'>
	                    	<label for="data_vencimento">Data de Vencimento </label>
		                    <div class="ui left labeled icon input">
	                            <input id="data_vencimento" name="data_vencimento" value="" required> 
	                            <i class="asterisk icon"></i>
	                        </div>

	                    </div>
	                </div>
	                <div id='vaga1' class='vaga'>
						<h3 class="ui header">
							Inserir vaga
							<p class='sub header'> Para que a oferta seja válida, pelo menos um vaga deve ser inserida.</p>
				        </h3>
				        <div class="ui two fields">

				        	
		                    <div class='field'>

		                    	<label for="funcao">Função </label>
			                    <div class="ui left labeled icon input">
		                            <input type='text' id="funcao" name="funcao" value="" required>
		                            {{ form.funcao }}
		                            <i class="asterisk icon"></i>
		                        </div>

		                    </div>
		                    <div class='field'>

		                    	<label for="qtd">Quantidade </label>
			                    <div class="ui left labeled icon input">
		                            <input type='text' id="qtd" name="qtd" value="" required>
		                            <i class="asterisk icon"></i>
		                        </div>

		                    </div>

				        </div>
				        <div class="ui two fields">
				        	<div class='field'>
		                    
		                    	<label for="descricao_vaga">Descrição </label>
			                    <div class="ui left labeled icon input">
		                            <textarea id="descricao_vaga" name="descricao_vaga" value="" required> </textarea> 
		                            <i class="asterisk icon"></i>
		                        </div>

		                    </div>
				        	<div class='field'>

		                    	<label for="turno">Turno</label>
			                    <div class="ui left labeled icon input">
		                            <input type='text' id="turno" name="turno" value="" required>
		                            <i class="asterisk icon"></i>
		                        </div>

		                    </div>
		                </div>
		                <div class='ui two fields'>
				        	<div class='field'>
		                    
		                    	<label for="hora_inicio">Horário de entrada </label>
			                    <div class="ui left labeled icon input">
		                            <input type='text' id="hora_inicio" name="hora_inicio" placeholder='08:00' required>
		                            <i class="asterisk icon"></i>
		                        </div>

		                    </div>
		                    <div class='field'>

		                    	<label for="hora_fim">Horário de saída </label>
			                    <div class="ui left labeled icon input">
		                            <input type='text' id="hora_fim" name="hora_fim" placeholder='12:00' required>

		                             <i class="asterisk icon"></i>
		                        </div>

		                    </div>
		                    

				        </div>
				    </div>


				    {% if inseridas|length > 0 %}

					    <table class='ui celled segment table' id='mostraOfertas'>

					    	<thead>
					    		
					    		<tr>
					    			<th> Função </th>
					    			<th> Quantidade</th>
					    			<th> Descrição </th>
					    			<th> Turno</th>
					    			<th> Horário entrada</th>
					    			<th> Horário saída</th>
					    			<th> Auxílios </th>
					    		</tr>
					    	</thead>

					    	<tbody>
					    	{% for vaga in inseridas %}
					    		<tr>
					    			<td> {{ vaga.funcao }}</td>
					    			<td> {{ vaga.quantidade }} </td>
					    			<td> {{ vaga.descricao }} </td>
					    			<td> {{ vaga.turno }} </td>
					    			<td> {{ vaga.hora_inicio }} </td>
					    			<td> {{ vaga.hora_fim }} </td>

					    			<td><a href='/emp_coord_inserir_auxilio/'><i class='dollar icon'>
					    			</i>Auxílios</a> </td>

					    		</tr>
					    	{% endfor %}
					    	</tbody>

					    </table>
					{% endif %}

					<div class="ui divider"></div>

					<button class="ui red left floated labeled icon button"> 
		                <i class="left arrow icon"></i>
		                Voltar 
		            </button>
					
			        <button type="submit" class="ui green right floated labeled icon button" > 
                    	<i class="checkmark icon"></i>
                    	Enviar vaga
                	</button>

					
		        </form>


		    </div>

		</div>

	</article>

{% endblock %}