{% extends "base.html" %}

{% block title %} Detalhe oferta {% endblock %}

{% block content %}

<article class="ui stackable grid">

	<div class="three wide column">

        {% block menu %}
            {% include 'menus.html' %}
        {% endblock %}

    </div>

    <div class="thirteen wide column">

    	<div class="ui green segment">


    		<h3 class="ui header">
		      	Oferta

		      	<a href = '/editar_oferta/'>
		      		<button class="ui green right floated labeled icon button"> 
                		<i class="pencil icon"></i>
                		Editar Oferta 
            		</button>
            	</a>
		    </h3>

			<div class="ui two column segment stackable divided grid">

				<div class="column">

					<div class="ui relaxed list">

						<div class="item">
							<div class="content">
								<div class="header">Descrição</div>
								<div class="description">{{oferta.descricao}}</div>
							</div>
						</div>

						<div class="item">
							<div class="content">
								<div class="header">Data de vencimento</div>
								<div class="description">{{oferta.data_vencimento}}</div>
							</div>
						</div>

					</div>

				</div>


				<div class="column">

				    <div class="ui relaxed list">

						<div class="item">
							<div class="content">
								<div class="header">Total de vagas</div>
								<div class="description">{{ total_vagas }}</div>
							</div>
						</div>

						<div class="item">
							<div class="content">
								<div class="header">Vagas disponíveis</div>
								<div class="description">{{vagas_disponiveis}}</div>

							</div>
						</div>

					</div>

				</div>

			</div>

    		
			
			<h3 class="ui header">
		      	Vagas 
		      	<p class="sub header">Verifique abaixo, detalhes das vagas disponibilizadas para esta oferta</p>
		    </h3>

		    <table class="ui celled center aligned segment table">

				<thead>
					<tr>

						<th>
							Descrição
						</th>
								
						<th>
							Função
						</th>

						<th>
							Turno
						</th>

						<th>
							Hora início
						</th>

						<th>
							Hora fim
						</th>
								
					</tr>
				</thead>

					<tbody>
						{% for vaga in vagas %}

							<td>
								<a href="/emp_coord_detalhe_vaga">	
									{{ vaga.descricao }}
								</a>	
							</td>

							<td>
								{{ vaga.funcao }}
							</td>

							<td>
								{{ vaga.turno }}
							</td>

							<td>
								{{ vaga.hora_inicio }}
							</td>

							<td>
								{{ vaga.hora_fim }}
							</td>

						</tr>
							
						{% endfor %}

					</tbody>					
				
			</table>

			<div class="ui divider"></div>

			<button class="ui red left floated labeled icon button"> 
                <i class="left arrow icon"></i>
                Voltar 
            </button>
		   
    	</div>

    </div>

</article>

{% endblock %}