{% extends "base.html" %}

{% block title %} Adicionar auxílio {% endblock %}

{% block content %}

	<article class="ui stackable grid middle aligned" 	id='add_oferta'>

		<div class="three wide column">

			{% block menu %}
				{% include 'menus.html' %}
			{% endblock %}

		</div>

		<div class="thirteen wide column">

			<div class="ui green segment ">

		        <h2 class="ui header">
		          Inserir novo auxílio
		          <p class="sub header">Por favor, preencha o formulário de solicitação abaixo.</p>
		        </h2>
		        <div class='ui grid'>
		        	
		        		<div class='row'>
				        	<div class='sixteen wide column'>
				        		<h4 class='ui header'> Vaga 
				        		<p class='sub header'> Detalhes da vaga para qual será inserido um auxílio. </p></h4>
				        	</div>
				        </div>
				        <div class='row'>
				        	<div class='four wide column'>
								<h5 class='ui header'>  Função: </h5> {{ vaga.funcao }}
							</div>
						    
							<div class='six wide column'>
								<h5 class='ui header'> Descrição:  </h5> {{ vaga.descricao }}
							</div>
							<div class='four wide column'>
								<h5 class='ui header'> Turno:  </h5> {{ vaga.turno }}
							</div>
						</div>
			        </div>

			        <form class="ui form raised segment" method="POST" action="." autocomplete="off">

				        <div class="ui two fields">

		                    <div class='field'>
		                    	<div class='field'>
			                    	<label for="Auxilio">Auxílio </label>
				                    <select name='tipo_auxilio' required>
				                    	<option> Selecione</option>
				                    	<option> Bolsa </option>
				                    	<option> Transporte </option>
				                    	<option> Alimentação </option>
				                    	<option> Hospitalar </option>
				                    </select>
		                       	</div>
		                    </div>
	                        <div class='field'>
		                    	<label for="valor">Valor </label>
			                    <div class="ui right labeled icon input">
		                            <input id="valor" name="valor" value="" required/>  
		                            <i class="asterisk icon"></i>
	                        	</div>
	                    	</div>  
		                </div>
		                 <button type="button" class="ui floated left labeled icon button" > 
                    		<i class="checkmark icon"></i>
                    		Finalizar
                		</button>

		                <button type="submit" class="ui floated right green labeled icon button" > 
                    		<i class="add icon"></i>
                    		Enviar auxílio
                		</button>
			        </form>

			        <table class='ui celled segment table' id='mostraOfertas'>

					    	<thead>
					    		
					    		<tr>
					    			<th> Auxílio </th>
					    			<th> Valor</th>
					    		</tr>
					    	</thead>

					    	<tbody>
					    	{% for auxilio in auxilios %}
					    		<tr>
					    			<td> {{ auxilio.auxilio }}</td>
					    			<td> {{ auxilio.valor }} </td>
					    		</tr>
					    	{% endfor %}
					    	</tbody>

					    </table>
		        </div>
		        


		    </div>
		</div>
	</article>
{% endblock %}