{% extends "base.html" %}

{% block title %}Consulta vagas {% endblock %}

{% block content %}

	<article class="ui stackable grid">

	    <div class="three wide column">

	    	{% block menu %}
	            {% include 'menus.html' %}
	        {% endblock %}

	    </div>

	    <div class='thirteen wide column'>

	    	<div class="ui green segment">


				<div class="ui tabular filter menu">

					<a class="item" data-tab="todas">
						Todas as vagas
					</a>

				</div>

				<div  class="ui active tab" data-tab='todas'>

					<div class="ui two column grid" >

							<div class="ui left aligned column">

								<div class="ui selection dropdown">
									<input type="hidden" name="classificacao">
									<div class="default text">Classificar por:</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="0">Vagas A-Z</div>
										<div class="item" data-value="1">Vagas Z-A</div>
										<div class="item" data-value="2">Status</div>
										<div class="item" data-value="3">Função</div>
										<div class="item" data-value="4">Quantidade</div>
										<div class="item" data-value="5">Turno</div>
									</div>
								</div>
							</div>

							<div class="ui right aligned column">
								<div class="ui icon input">
									<input type="text" placeholder="Procurar...">
									<i class="search icon"></i>
								</div>
							</div>

					</div>

					<div class="ui divider"></div>

						<table class="ui center aligned celled segment table">
							<thead>
								<tr>
									<th> Status </th>
						    		<th> Descrição </th>
									<th> Função </th>
						    		<th> Turno </th>
						    		<th> Auxílios </th>
								</tr>
							</thead>
							<tbody>
					    	{% for vaga in vagas %}
					    		<tr>
					    			{% with status as vaga.status %}
					    				{% with 'status'|add:vaga.status as classe %}
						    			<td> 
						    				<div class="ui {{vaga.status}} circular label">
						    			</td>
						    			{% endwith %}
									{% endwith %}

						    			<td> {{ vaga.descricao }} </td>
						    			<td> {{ vaga.funcao }}</td>
						    			<td> {{ vaga.turno }} </td>
						    			<td> {{ vaga.auxilio }} </td>

					    		</tr>
					    	{% endfor %}
					    	</tbody>

						</table>

					<aside class="ui horizontal list">

						<div class="item">
							Legenda:
						</div>

						<div class="item">
							<div class="ui status3 circular label"> </div> Não Preenchida
						</div>

						<div class="item">
							<div class="ui status2 circular label"> </div> Preenchida
						</div>

						<div class="item">
							<div class="ui status5 circular label"> </div> Cancelada
						</div>
					
					</aside>

				</div>

			

	    </div>

	</article>

{% endblock %}


