{% extends "base.html" %}

{% block title %}Consulta ofertas {% endblock %}

{% block content %}

	<article class="ui stackable grid">

	    <div class="three wide column">

	    	{% block menu %}
	            {% include 'menus.html' %}
	        {% endblock %}

	    </div>

	    <div class='thirteen wide column'>

	    	<div class="ui green segment">


				<div class="ui tabular filter menu">

					<a class="item" data-tab="todas">
						Todas as ofertas
					</a>

				</div>

				<div  class="ui active tab" data-tab='todas'>

					<div class="ui two column grid" >

							<div class="ui left aligned column">

								<div class="ui selection dropdown">
									<input type="hidden" name="classificacao">
									<div class="default text">Classificar por:</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="0">Oferta A-Z</div>
										<div class="item" data-value="1">Oferta Z-A</div>
										<div class="item" data-value="3">Status</div>
										<div class="item" data-value="4">Data Inserção</div>
										<div class="item" data-value="5">Data Vencimento</div>
									</div>
								</div>
							</div>

							<div class="ui right aligned column">
								<div class="ui icon input">
									<input type="text" placeholder="Procurar...">
									<i class="search icon"></i>
								</div>
							</div>

					</div>

						<table class="ui celled center aligned segment table">
							<thead>
								<tr>
									<th>Status</th>
									<th>Título</th>
									<th>Data Inserção</th>
									<th>Data Vencimento</th>
									<th>Total Vagas</th>
									<th>Vagas Preenchidas</th>

								</tr>
							</thead>
							<tbody>
								{% for oferta in todas %}
								<tr>
										
									{% with status as oferta.status %}
										{% with 'status'|add:oferta.status as classe %}
											<td>
												<div class="ui {{oferta.status}} circular label"></div>
											</td>
										{% endwith %}
									{% endwith %}
									<td>
									{{ oferta.titulo }}
									</td>
									<td>
									{{ oferta.data }}
									</td>
									<td>
									{{ oferta.data_vencimento }}
									</td>
									<td>
									{{ oferta.totalVagas }}
									</td>
									<td>
									{{ oferta.vagasPreenchidas }}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>

					<aside class="ui horizontal list">

						<div class="item">
							Legenda:
						</div>

						<div class="item">
							<div class="ui status2 circular label"> </div> Não Preenchida
						</div>

						<div class="item">
							<div class="ui status1 circular label"> </div> Preenchida
						</div>

						<div class="item">
							<div class="ui status3 circular label"> </div> Cancelada
						</div>

						<div class="item">
							<div class="ui status4 circular label"> </div> Vencida
						</div>
						

					
					</aside>
					
				</div>


				

			</div>

	    </div>

	</article>

{% endblock %}


