{% extends "base.html" %}

{% block title %} Todos candidatos {% endblock %}

{% block content %}

	<article class="ui stackable grid middle aligned" 	id='add_oferta'>

		<div class="three wide column">

			{% block menu %}
				{% include 'menus.html' %}
			{% endblock %}

		</div>

		<div class="thirteen wide column">

			<div class="ui green segment ">

		        <h2 class="ui header">
		          Todos candidatos
		        </h2>
		        <table class='ui celled segment table'>
				    	<thead>
				    		
				    		<tr>
				    			<th> Nome </th>
				    			<th> Função </th>
				    			<th> Data de Candidatura </th>
				    		</tr>
				    	</thead>

				    	<tbody>
				    	{% for candidatura in candidaturas %}
				    		<tr>
				    			<td> <a href='/emp_coord_detalhe_candidato/'>{{ candidatura.aluno.nome }}</a></td>
				    			<td> {{ candidatura.vaga.funcao }} </td>
				    			<td> {{ candidatura.data }} </td>

				    		</tr>
				    	{% endfor %}
				    	</tbody>

				    </table>
			</div>
		</div>
	</article>
{% endblock %}