{% extends "base.html" %}

{% block title %} Solicitações de orientação {% endblock %}

{% block content %}

	<article class="ui stackable grid middle aligned" 	id='add_oferta'>

		<div class="three wide column">

			{% block menu %}
				{% include 'menus.html' %}
			{% endblock %}

		</div>

		<div class="thirteen wide column">

			<div class="ui green segment ">

		        <h2 class="ui header">
		          Solicitações de Orientação
		          
		        </h2>

		        <div class="ui two column grid">
						
					<div class="ui left aligned column">

						<div class="ui selection dropdown">
							<input type="hidden" name="classificacao">
							<div class="default text">Classificar por:</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="1">Oferta A-Z</div>
								<div class="item" data-value="0">Oferta Z-A</div>
								<div class="item" data-value="2">Data de publicação</div>
							</div>
						</div>
					</div>
					
					<div class="ui right aligned column">
						<div class="ui icon input">
							<input type="text" placeholder="Procurar...">
							<i class="search icon"></i>
						</div>
					</div>
				
				</div>

        		<div class="ui divider"></div>

				<div class="ui one column grid">
					
					<div class="ui right aligned column">
						<div class="ui pagination menu">
						  <a class="icon item">
						    <i class="left arrow icon"></i>
						  </a>

						  <a class="item"> 5 de 5 </a>
						  
						  <a class="icon item">
						    <i class="right arrow icon"></i>
						  </a>
						</div>
					</div>
				
				</div>

				<table class="ui celled segment table">

					<thead>
						<tr>
							<th>
								Aluno
							</th>
							
							<th>
								Empresa
							</th>

							<th>
								Data de publicação
							</th>
							
						</tr>
					</thead>

					<tbody>
					</tbody>
				</table>
		        </div>

		    </div>

		</div>

	</article>
{% endblock %}