{% extends "base.html" %}

{% block title %} Avaliação do Convênio {% endblock %}

{% block content %}

  <article class="ui reitoria stackable grid">

    <div class="three wide column">

        {% block menu %}
            {% include 'menus.html' %}
        {% endblock %}

    </div>

    <div class="ten wide column">

    <!-- ==========================================================================
    Formulário cadastro
    =============================================================================== -->

        <form class="ui form green segment" method="POST" action=".">

    <!-- ==========================================================================
    Dados da empresa
    =============================================================================== -->

            <div id="empresa_dados">

                <h3 class="ui header" id="descricao_solicitacao">
                
                    Dados da empresa

                </h3>

                <div class="fields">

                    <div class="five wide field">

                        <label for="tipo_concedente" > Entidade solicitante </label>

                        <select id="tipo_concedente" name="tipo_concedente" disabled>

                            <option value="0" selected>Selecione</option>
                            <option value="1">Pública</option>
                            <option value="2">Privada</option>
                            <option value="3">Profissional liberal</option>

                        </select>
                
                    </div>

                </div>

                {% if empresa.tipo_concedente != "entidade_pliberal" %}

                <div class="fields">

                    <div class="five wide field" >

                        <label for="cnpj">CNPJ </label>

                        <input type="text" id="cnpj" name="cnpj" value="{{empresa.cnpj}}" readonly>

                    </div>
                        
                </div>

                {% else %}

                <div class="ui two fields">

                    <div class="five wide field">

                        <label for="numero_crea">CREA </label>

                        <input type="text" id="numero_crea" name="numero_crea" value="" readonly>

                    </div>

                    <div class="two wide field">

                        <label for="uf_crea">UF </label>

                        <select id="uf_crea" name="uf_crea" disabled>

                            <option value="0">Selecione</option>
                            <option value="1">SC</option>
                            <option value="2">PR</option>
                            <option value="3">RS</option>

                        </select>

                    </div>

                    <input type="hidden" id="crea" name="crea" value="{{empresa.crea}}">

                </div>

                {% endif %}

                <div class="ui two fields">

                    <div class="field">

                        <label for="nome_empresa">Nome da empresa</label>

                        <input type="text" id="nome_empresa" name="nome_empresa" value="{{empresa.nome_empresa}}" readonly>

                    </div>

                    <div class="field">

                        <label for="area_atuacao">Área de atuação</label>
 
                            <input type="text" id="area_atuacao" name="area_atuacao" value="{{empresa.area_atuacao}}" readonly>

                    </div>

                </div>

                <div class="ui two fields">

                  <div class="field">

                    <label for="first_name">Nome do responsável legal</label>

                    <input type="text" id="first_name" name="first_name" value="{{empresa.first_name}}" readonly>

                  </div>

                  <div class="field">

                    <label for="cpf">CPF do responsável legal</label>

                    <input type="text" id="cpf" name="cpf" value="{{empresa.cpf}}" readonly>

                  </div>

                </div>

            </div>

            <div class="ui horizontal icon divider">

              <i class="circular asterisk icon"></i>

            </div>

    <!-- ==========================================================================
    Dados para contato
    =============================================================================== -->

            <div id="empresa_contato">

                <h3 class="ui header" id="descricao_solicitacao">
                
                    Informações de contato

                </h3>

                <div class="fields">

                  <div class="eight wide field">

                    <label for="rua">Rua</label>

                    <input type="text" id="rua" name="rua" value="{{empresa.endereco.rua}}" readonly>

                  </div>

                  <div class="field">

                    <label for="numero">Nº, Complemento </label>

                    <input type="text" id="numero" name="numero" value="{{empresa.endereco.numero}}" readonly>

                  </div>

                </div>

                <div class="ui three fields">

                    <div class="field">

                        <label for="bairro">Bairro</label>

                        <input type="text" id="bairro" name="bairro" value="{{empresa.endereco.bairro}}" readonly>

                      </div>

                    <div class="field">

                        <label for="estado" > Estado </label>

                    
                        <select id="estado" name="estado" disabled>

                            <option value="0">Selecione</option>
                            <option value="1">Teste</option>
                            <option value="2">Teste</option>
                            <option value="3">Teste</option>

                        </select>

                    </div>

                    <div class="field">

                        <label for="cidade" > Cidade </label>
                    
                        <select id="cidade" name="cidade" disabled>

                            <option value="0">Selecione</option>
                            <option value="1">Teste</option>
                            <option value="2">Teste</option>
                            <option value="3">Teste</option>

                        </select>

                    </div>

                </div>

                <div class="fields">

                    <div class="three wide field">

                        <label for="cep">CEP </label>

                        <input type="text" id="cep" name="cep" value="{{empresa.endereco.cep}}" placeholder="Ex.:00000-000" readonly>

                    </div>

                    <div class="nine wide field">

                        <label for="referencia">Referência </label>

                        <input type="text" id="referencia" name="referencia" value="{{empresa.endereco.referencia}}" readonly >

                    </div>

                </div>

                <div class="fields">

                  <div class="four wide field">

                    <label for="telefone">Telefone</label>

                    <input type="text" id="telefone" name="telefone" value="{{empresa.telefone.contato}}" readonly>

                  </div>

                  <div class="eight wide field">

                    <label for="email">Email</label>

                    <input type="text" id="email" name="email" value="{{empresa.email}}" readonly>

                  </div>

                </div>

            </div>

            <div class="ui horizontal icon divider">

              <i class="circular asterisk icon"></i>

            </div>

    <!-- ==========================================================================
    Dados para login
    =============================================================================== -->

            <div id="empresa_login">

                <h3 class="ui header " id="descricao_solicitacao">
                
                    Informação de login

                </h3>

                <div class="fields">

                    <div class="six wide field">

                        <label for="username">Username </label>

                        <input type="text" id="username" name="username" value="{{empresa.username}}" readonly >

                    </div>

                </div>

            </div>

        </form>

    </div>

    <!-- ==========================================================================
    Menu para avaliação
    =============================================================================== -->

    <div class="three wide column">

      <div class="ui raised green segment">

        <h3 class="ui header ">
                
            Status convênio

        </h3>

        <form class="ui form">

            <div class="grouped inline fields">

                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" id="invalido" name="status_convenio" checked>
                    <label for="invalido">Inválido</label>
                  </div>
                </div>

                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" id="valido" name="status_convenio">
                    <label for="valido">Válido</label>
                  </div>
                </div>

                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" id="recusado" name="status_convenio">
                    <label for="recusado">Recusar solicitação</label>
                  </div>
                </div>

            </div>

            <div class="ui divider"></div>

            <div class="ui segment">
              <div class="ui right orange corner label">
                <i class="info icon"></i>
              </div>
              Última observação feita pela reitoria / empresa.
            </div>

            <div class="field" id="textarea">
                <label for="textarea">Observações</label>
                <textarea placeholder="Indique nesse espaço as alterações a serem feitas ou a motivação, se recusado." required></textarea>
            </div>
            
            <div class="ui two vertical fluid ui buttons" id="acoes_contrato_valido">

                <div class="ui labeled icon button">
                  <i class="print orange icon"></i>
                  Imprimir 
                </div>

                <div class="ui labeled icon button">
                  <i class="cloud upload orange icon"></i>
                  Upload 
                </div>

                <div class="divider"></div>

                <label class="ui label">

                    <i class="attachment large link icon"></i>

                    <a href="#" class="detail"> convênio.pdf </a>

                </label>

            </div>

            <div class="divider"></div>

            <div class="one fluid ui buttons">
              
              <div class="ui positive button">Salvar</div>
              
            </div>

        </form>

      </div>

    </div>

  </article>

{% endblock %}
  


