{% extends "base.html" %}

{% block title %} Consulta de Convênio {% endblock %}

{% block content %}

	<article id ="todos" class="ui grid">

	<!-- ==========================================================================
	Banner
	=============================================================================== -->

		<div class="three wide column">

			{% block menu %}
				{% include 'menus.html' %}
			{% endblock %}

		</div>

		<div class="thirteen wide column">

		<!-- ==========================================================================
		Tabela de empresas
		=============================================================================== -->

			<div class="ui green segment">
				
				<div class="ui two column grid">
					<div class="ui left aligned column">

						<div class="ui selection dropdown">
							<input type="hidden" name="classificacao">
							<div class="default text">Classificar por:</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="1">Empresa A-Z</div>
								<div class="item" data-value="0">Empresa Z-A</div>
								<div class="item" data-value="2">Data Solicitação</div>
								<div class="item" data-value="3">Data Modificação</div>
							</div>
						</div>
					</div>
					<div class="ui right aligned column">
						<div class="ui icon input">
							<input type="text" placeholder="Procurar...">
							<i class="search icon"></i>
						</div>
					</div>
				</div>

				<table class="ui center aligned celled segment table">
					<thead>
						<tr>
							<th>
								Status
							</th>
							<th>
								Empresa
							</th>
							<th>
								Data de Solicitação
							</th>
							<th>
								Última Modificação
							</th>
							<th>
								Contrato
							</th>
						</tr>
					</thead>
					<tbody>
						{% for empresa in empresas %}
						<tr>
						{% with status as empresa.status %}
							{% with 'status'|add:empresa.status as classe %}
							<td>
								<div class="ui {{classe}} circular label"></div>
							</td>
							{% endwith %}
						{% endwith %}
							<td>
								{% url 'nAvaliacao_convenio' as link %}
								<a href="/avaliacao_convenio">
									{{ empresa.nome_empresa }}
								</a>
							</td>
							<td>
								{{ empresa.data_solicitacao}}
							</td>
							<td>
								{{ empresa.data_modificacao }}
							</td>
							<td>
								
								{{ empresa.contrato }}
								
							</td>
						</tr>
						
						{% endfor %}
					</tbody>					
				</table>

				<aside class="ui horizontal list">

					<div class="item">
						Legenda:
					</div>

					<div class="item">
						<div class="ui status1 circular label"> </div> Não avaliado
					</div>

					<div class="item">
						<div class="ui status2 circular label"> </div> Em andamento
					</div>

					<div class="item">
						<div class="ui status3 circular label"> </div> Aprovado
					</div>

					<div class="item">
						<div class="ui status4 circular label"> </div> Recusado
					</div>

					<div class="item">
						<div class="ui status5 circular label"> </div> Cancelado
					</div>

				</aside>

			</div>

		</div>

	</article>

{% endblock %}



