{% extends "base.html" %}

{% block title %} Consulta de Convênio {% endblock %}

{% block content %}

	<article id='status' class="ui grid">

	<!-- ==========================================================================
	Banner
	=============================================================================== -->

		<div class="three wide column">

			{% block menu %}
				{% include 'menus.html' %}
			{% endblock %}

		</div>

		<div  class="thirteen wide column">

			<div class="ui green segment">

				<div class="ui tabular filter menu">

					<a class="item active" data-tab="nao_analisado">
						<div class="ui status1 circular label"> </div> Não analisados
					</a>

					<a class="item" data-tab="em_andamento">
						<div class="ui status2 circular label"> </div> Em andamento
					</a>

					<a class="item" data-tab="aprovado">
						<div class="ui status3 circular label"> </div> Aprovados
					</a>

					<a class="item" data-tab="recusado">
						<div class="ui status4 circular label"> </div> Recusados
					</a>

					<a class="item" data-tab="cancelado">
						<div class="ui status5 circular label"> </div> Cancelados
					</a>

				</div>

				<div class="ui active tab" data-tab="nao_analisado">
			
					<table class="ui center aligned celled segment table">

						<thead>
							<tr>
								<th>
									Empresa
								</th>
								<th>
									Data de Solicitação
								</th>
								<th>
									Última Modificação
								</th>
								<th>
									Contrato
								</th>
							</tr>
						</thead>
						<tbody>
							{% for empresa in naoanalisados %}
							<tr>
								<td>
									{{ empresa.nome_empresa }}
								</td>
								<td>
									{{ empresa.data_solicitacao}}
								</td>
								<td>
									{{ empresa.data_modificacao }}
								</td>
								<td>
									
									{{ empresa.contrato }}
									
								</td>
							</tr>
							{% endfor %}
						</tbody>					
					</table>

				</div>

				<div class="ui tab" data-tab="em_andamento">

					<table class="ui center aligned celled segment table">
						<thead>
							<tr>
								<th>
									Empresa
								</th>
								<th>
									Data de Solicitação
								</th>
								<th>
									Última Modificação
								</th>
								<th>
									Contrato
								</th>
							</tr>
						</thead>
						<tbody>
							{% for empresa in emAndamento %}
							<tr>
								<td>
									{{ empresa.nome_empresa }}
								</td>
								<td>
									{{ empresa.data_solicitacao}}
								</td>
								<td>
									{{ empresa.data_modificacao }}
								</td>
								<td>
									
									{{ empresa.contrato }}
									
								</td>
							</tr>
							{{x}}
							{% endfor %}
						</tbody>					
					</table>

				</div>

				<div class="ui tab" data-tab="aprovado">

					<table class="ui center aligned celled segment table">

						<thead>
							<tr>
								<th>
									Empresa
								</th>
								<th>
									Data de Solicitação
								</th>
								<th>
									Última Modificação
								</th>
								<th>
									Contrato
								</th>
							</tr>
						</thead>
						<tbody>
							{% for empresa in aprovados %}
							<tr>
								<td>
									{{ empresa.nome_empresa }}
								</td>
								<td>
									{{ empresa.data_solicitacao}}
								</td>
								<td>
									{{ empresa.data_modificacao }}
								</td>
								<td>
									
									{{ empresa.contrato }}
									
								</td>
							</tr>
							{% endfor %}
						</tbody>

					</table>
				
				</div>

				<div class="ui tab" data-tab="recusado">

					<table class="ui center aligned celled segment table">
						
						<thead>
							<tr>
								<th>
									Empresa
								</th>
								<th>
									Data de Solicitação
								</th>
								<th>
									Última Modificação
								</th>
								<th>
									Contrato
								</th>
							</tr>
						</thead>
						<tbody>
							{% for empresa in recusados %}
							<tr>
								<td>
									{{ empresa.nome_empresa }}
								</td>
								<td>
									{{ empresa.data_solicitacao}}
								</td>
								<td>
									{{ empresa.data_modificacao }}
								</td>
								<td>
									
									{{ empresa.contrato }}
									
								</td>
							</tr>
							{% endfor %}
						</tbody>					
					
					</table>

				</div>

				<div class="ui tab" data-tab="cancelado">

					<table class="ui center aligned celled segment table">
						
						<thead>
							<tr>
								<th>
									Empresa
								</th>
								<th>
									Data de Solicitação
								</th>
								<th>
									Última Modificação
								</th>
								<th>
									Contrato
								</th>
							</tr>
						</thead>
						<tbody>
							{% for empresa in cancelados %}
							<tr>
								<td>
									{{ empresa.nome_empresa }}
								</td>
								<td>
									{{ empresa.data_solicitacao}}
								</td>
								<td>
									{{ empresa.data_modificacao }}
								</td>
								<td>
									
									{{ empresa.contrato }}
									
								</td>
							</tr>
							{% endfor %}
						</tbody>					
				
					</table>

				</div>

			</div>

		</div>

	</article>

{% endblock %}