{% extends "base.html" %}

{% block title %} Meu Convênio {% endblock %}

{% block content %}

  <article id="meu_convenio" class="ui reitoria stackable grid">

    <div class="three wide column">

            {% block menu %}
                {% include 'menus.html' %}
            {% endblock %}

        </div>

    <div class="ten wide column">

    <!-- ==========================================================================
    Formulário cadastro
    =============================================================================== -->

        <form class="ui form green segment" method="POST" action="." autocomplete="off">

    <!-- ==========================================================================
    Dados da empresa
    =============================================================================== -->

            <div id="empresa_dados">

                <h3 class="ui header" id="descricao_solicitacao">
                
                    Dados da empresa

                </h3>

                <div class="fields">

                    <div class="five wide field">

                        <label for="tipo_concedente" > Entidade solicitante </label>
                    
                        <select id="tipo_concedente" name="tipo_concedente">

                            <option value="0">Selecione</option>
                            <option value="1">Pública</option>
                            <option value="2">Privada</option>
                            <option value="3">Profissional liberal</option>

                        </select>
                
                    </div>

                </div>

                {% if empresa.tipo_concedente != "entidade_pliberal" %}

                <div class="fields">

                    <div class="five wide field" >

                        <label for="cnpj">CNPJ </label>

                        <input type="text" id="cnpj" name="cnpj" value="{{empresa.cnpj}}" placeholder="Ex.:00.000.000/0000-00" required>

                    </div>
                        
                </div>

                {% else %}

                <div class="ui two fields">

                    <div class="five wide field">

                        <label for="numero_crea">CREA </label>

                        <input type="text" id="numero_crea" name="numero_crea" value="" placeholder="Ex.:0000000000" required autofocus>

                    </div>

                    <div class="four wide field">

                        <label for="uf_crea" > UF </label>
                    
                        <select id="uf_crea" name="uf_crea">

                            <option value="0">Selecione</option>
                            <option value="1">Teste</option>
                            <option value="2">Teste</option>
                            <option value="3">Teste</option>

                        </select>
                
                    </div>

                    <input type="hidden" id="crea" name="crea" value="{{empresa.crea}}">

                </div>

                {% endif %}

                <div class="ui two fields">

                    <div class="field">

                        <label for="nome_empresa">Nome da empresa</label>

                        <input type="text" id="nome_empresa" name="nome_empresa" value="{{empresa.nome_empresa}}" placeholder="Informe o nome da empresa" required>

                    </div>

                    <div class="field">

                        <label for="area_atuacao">Área de atuação</label>
 
                            <input type="text" id="area_atuacao" name="area_atuacao" value="{{empresa.area_atuacao}}" placeholder="Informe a área de atuação" required>

                    </div>

                </div>

                <div class="ui two fields">

                  <div class="field">

                    <label for="first_name">Nome do responsável legal</label>

                    <input type="text" id="first_name" name="first_name" value="{{empresa.first_name}}" placeholder="Informe o nome do responsável legal" required>

                  </div>

                  <div class="field">

                    <label for="cpf">CPF do responsável legal</label>

                    <input type="text" id="cpf" name="cpf" value="{{empresa.cpf}}" placeholder="Ex.: 000.000.000-00" required>

                  </div>

                </div>

            </div>

            <div class="ui horizontal icon divider">

              <i class="circular asterisk icon"></i>

            </div>

    <!-- ==========================================================================
    Dados para contato
    =============================================================================== -->

            <div id="empresa_contato">

                <h3 class="ui header" id="descricao_solicitacao">
                
                    Informações de contato

                </h3>

                <div class="fields">

                  <div class="eight wide field">

                    <label for="rua">Rua</label>

                    <input type="text" id="rua" name="rua" value="{{empresa.endereco.rua}}" placeholder="Informe o nome da rua" required>

                  </div>

                  <div class="field">

                    <label for="numero">Nº, Complemento </label>

                    <input type="text" id="numero" name="numero" value="{{empresa.endereco.numero}}" placeholder="Ex.: 000 - BL 0 APT 00" required>

                  </div>

                </div>

                <div class="ui three fields">

                    <div class="field">

                        <label for="bairro">Bairro</label>

                        <input type="text" id="bairro" name="bairro" value="{{empresa.endereco.bairro}}" placeholder="Informe o nome do bairro" required>

                      </div>

                    <div class="field">

                        <label for="estado" > Estado </label>

                    
                        <select id="estado" name="estado">

                            <option value="0">Selecione</option>
                            <option value="1">Teste</option>
                            <option value="2">Teste</option>
                            <option value="3">Teste</option>

                        </select>

                    </div>

                    <div class="field">
                        <label for="cidade" > Cidade </label>
                    
                        <select id="cidade" name="cidade">

                            <option value="0">Selecione</option>
                            <option value="1">Teste</option>
                            <option value="2">Teste</option>
                            <option value="3">Teste</option>

                        </select>

                    </div>

                </div>

                <div class="fields">

                    <div class="three wide field">

                        <label for="cep">CEP </label>

                        <input type="text" id="cep" name="cep" value="{{empresa.endereco.cep}}" placeholder="Ex.:00000-000" required>

                    </div>

                    <div class="nine wide field">

                        <label for="referencia">Referência </label>

                        <input type="text" id="referencia" name="referencia" value="{{empresa.endereco.referencia}}" placeholder="Informe uma referência" required >

                    </div>

                </div>

                <div class="fields">

                  <div class="four wide field">

                    <label for="telefone">Telefone</label>

                    <input type="text" id="telefone" name="telefone" value="{{empresa.telefone.contato}}" placeholder="Ex.: (00) 0000-0000" required>

                  </div>

                  <div class="eight wide field">

                    <label for="email">Email</label>

                    <input type="text" id="email" name="email" value="{{empresa.email}}" placeholder="Ex.: exemplo@exemplo.com" required>

                  </div>

                </div>

            </div>

        </form>

    </div>

    <!-- ==========================================================================
    Menu para acompanhamento da solicitação de convênio
    =============================================================================== -->

    <div class="three wide column">

      <div class="ui raised green segment">

        <h3 class="ui header ">
                
            Status convênio

        </h3>

        <div class="ui striped progress">
            <div class="bar" ></div>
        </div>
        
        <div class="ui divider"></div>

        <div class="ui segment">
            <div class="ui right orange corner label">
            <i class="info icon"></i>
            </div>
            Última observação feita pela reitoria / empresa.
        </div>
        
        <form class="ui form">               

            <div class="field" id="textarea">
                <label for="textarea">Observações</label>
                <textarea placeholder="Indique nesse espaço as alterações a serem feitas ou a motivação, se recusado." required></textarea>
            </div>

            <div class="divider"></div>

            <div class="two fluid small ui buttons">
              <div class="ui positive button">Salvar</div>
              <div class="ui negative button">Cancelar</div>
            </div>

        </form>

      </div>

    </div>

  </article>

{% endblock %}
  


