{% extends "base.html" %}

{% block title %} Solicitação de Convênio {% endblock %}

{% block content %}

  <article class="ui stackable grid">

    <!-- ==========================================================================
    Banner
    =============================================================================== -->

    <div class="three wide column">



        <figure>

            <img src="{{ STATIC_URL }}images/banner.png"/>

        </figure>

    </div>

    <div class="thirteen wide column">

    <!-- ==========================================================================
    Etapas
    =============================================================================== -->

      <div class="ui green segment ">

        <h2 class="ui header">
          Solicitação de convênio
          <p class="sub header">Por favor, preencha o formulário de solicitação abaixo.</p>
        </h2>

        <nav class="ui tabular steps filter menu" id="step_menu">

          <a class="ui step active" data-tab="empresa_dados">1. Dados da empresa</a>
        
          <a class="ui step" data-tab="empresa_contato">2. Dados para contato</a>

          <a class="ui step" data-tab="empresa_login">3. Informações de login</a>
  
        </nav>

    <!-- ==========================================================================
    Formulário cadastro
    =============================================================================== -->

        <form class="ui form raised segment" method="POST" action="." autocomplete="off" id="form-solicitacao">

    <!-- ==========================================================================
    Dados da empresa
    =============================================================================== -->

            <div class="ui tab" id="empresa_dados" data-tab="empresa_dados">

                <h3 class="ui header hidden" id="descricao_solicitacao">
                
                    Dados da empresa

                </h3>

                <div class="fields">

                    <div class="five wide field">

                        <label for="tipo_concedente" > Entidade solicitante </label>
                                            
                         <select id="tipo_concedente" name="tipo_concedente">

                            <option value="0" selected>Selecione</option>
                            <option value="1">Pública</option>
                            <option value="2">Privada</option>
                            <option value="3">Profissional liberal</option>
                    
                        </select>
                
                    </div>

                </div>

                <div class="fields cnpj">

                    <div class="five wide field" >

                        <label for="cnpj">CNPJ </label>

                        <div class="ui left labeled icon input">
                            <input type="text" id="cnpj" name="cnpj" value="" placeholder="Ex.:00.000.000/0000-00" required >
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                        
                </div>

                <div class="ui two fields crea">

                    <div class="five wide field">

                        <label for="numero_crea">CREA </label>

                        <div class="ui left labeled icon input">
                            <input type="text" id="numero_crea" name="numero_crea" value="" placeholder="Ex.:0000000000" required >
                            <i class="asterisk icon"></i>
                        </div>

                    </div>

                    <div class="three wide field">

                        <label for="uf_crea" > UF </label>
                    
                        <select id="uf_crea" name="uf_crea">

                            <option value="0" selected>Selecione</option>
                            <option value="1">SC</option>
                            <option value="2">PR</option>
                            <option value="3">RS</option>

                        </select>
                
                    </div>

                    <input type="hidden" id="crea" name="crea" value="">

                </div>

                <div class="fields">

                    <div class="seven wide field">

                        <label for="nome_empresa">Nome da empresa</label>

                        <div class="ui left labeled icon input">
                            <input type="text" id="nome_empresa" name="nome_empresa" value="" placeholder="Informe o nome da empresa" required>
                            <i class="asterisk icon"></i>
                        </div>

                    </div>

                    <div class="seven wide field">

                        <label for="area_atuacao">Área de atuação</label>

                        <div class="ui left labeled icon input">
                            <input type="text" id="area_atuacao" name="area_atuacao" value="" placeholder="Informe a área de atuação" required >
                            <i class="asterisk icon"></i>
                        </div>

                    </div>

                </div>

                <div class="fields">

                  <div class="seven wide field">

                    <label for="first_name">Nome do responsável legal</label>

                    <div class="ui left labeled icon input">
                        <input type="text" id="first_name" name="first_name" value="" placeholder="Informe o nome do responsável legal" required>
                        <i class="asterisk icon"></i>
                    </div>

                  </div>

                  <div class="five wide field">

                    <label for="cpf">CPF do responsável legal</label>

                    <div class="ui left labeled icon input">
                        <input type="text" id="cpf" name="cpf" value="" placeholder="Ex.: 000.000.000-00" required>
                        <i class="asterisk icon"></i>
                    </div>

                  </div>

                </div>

                <div class="ui divider"></div>

                
                <button class="ui floated right labeled icon button"  data-tab="empresa_contato" id="proxima_etapa_dados"> 
                    <i class="right arrow icon"></i>
                    Próxima etapa 
                </button>

            </div>

    <!-- ==========================================================================
    Dados para contato
    =============================================================================== -->

            <div class="ui tab" id="empresa_contato" data-tab="empresa_contato">

                <h3 class="ui header hidden" id="descricao_solicitacao">
                
                    Informações para contato

                </h3>

                <div class="fields">
                  <div class="eight wide field">
                    <label for="rua">Rua</label>
                    <div class="ui left labeled icon input">
                        <input type="text" id="rua" name="rua" value="" placeholder="Informe o nome da rua" required autofocus>
                        <i class="asterisk icon"></i>
                    </div>
                  </div>
                  <div class="five wide field">
                    <label for="numero">Nº, Complemento </label>
                    <div class="ui left labeled icon input">
                        <input type="text" id="numero" name="numero" value="" placeholder="Ex.: 000 - BL 0 APT 00" required>
                        <i class="asterisk icon"></i>
                    </div>
                  </div>
                </div>

                <div class="fields">

                    <div class="five wide field">

                        <label for="bairro">Bairro</label>
                        <div class="ui left labeled icon input">
                            <input type="text" id="bairro" name="bairro" value="" placeholder="Informe o nome do bairro" required>
                            <i class="asterisk icon"></i>
                        </div>

                    </div>

                    <div class="four wide field">

                        <label for="estado" > Estado </label>

                    
                        <select id="estado" name="estado">

                            <option value="0">Selecione</option>
                            <option value="1">Teste</option>
                            <option value="2">Teste</option>
                            <option value="3">Teste</option>

                        </select>

                    </div>

                    <div class="four wide field">
                        <label for="cidade" > Cidade </label>
                    
                        <select id="cidade" name="cidade">

                            <option value="0">Selecione</option>
                            <option value="1">Teste</option>
                            <option value="2">Teste</option>
                            <option value="3">Teste</option>

                        </select>

                    </div>
                </div>

                <div class="fields">
                    <div class="four wide field">
                        <label for="cep">CEP </label>
                        <input type="text" id="cep" name="cep" value="" placeholder="Ex.: 00000-000" >

                    </div>
                    <div class="nine wide field">
                        <label for="referencia">Referência </label>
                        <input type="text" id="referencia" name="referencia" value="" placeholder="Informe uma referência" >
                    </div>
                </div>

                <div class="fields">

                  <div class="four wide field">

                    <label for="tipo_contato">Tipo de Contato</label>                  
                    <select id='tipo_contato' name='tipo_contato'>
                        <option value='0'>Telefone </option>
                        <option value='1'>Celular</option>
                        <option value='2'>E-mail</option>
                    </select>

                  </div>

                  <div class="seven wide field">

                    <label for="contato">Contato</label>
                    <div class="ui left labeled icon input">
                        <input type="text" id="contato" name="contato" value="" placeholder="Ex.: exemplo@exemplo.com" required>
                        <i class="asterisk icon"></i>
                    </div>
                  </div>

                </div>

                <div class="ui divider"></div>

                <button class="ui labeled icon button"  data-tab="empresa_dados" id="etapa_anterior_dados"> 
                    <i class="left arrow icon"></i>
                    Etapa anterior 
                </button>

                <button class="ui floated right labeled icon button" data-tab="empresa_login" id="proxima_etapa_login"> 
                    <i class="right arrow icon"></i>
                    Próxima etapa 
                </button>

            </div>

    <!-- ==========================================================================
    Dados para login
    =============================================================================== -->

            <div class="ui tab" id="empresa_login" data-tab="empresa_login">

                <h3 class="ui header hidden" id="descricao_solicitacao">
                
                    Dados para login

                </h3>

                <div class="fields">

                    <div class="five wide field">

                        <label for="username">Username </label>

                        <div class="ui left labeled icon input">
                            
                            <input type="text" id="username" name="username" value="" placeholder="Informe um username" required autofocus >
                            <i class="user icon"></i>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="fields">

                    <div class="six wide field">

                        <label for="password">Senha </label>

                        <div class="ui left labeled icon input">

                            <input type="password" id="password" name="password" value="" placeholder="Informe uma senha" required>
                            <i class="lock icon"></i>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>

                    </div>

                    <div class="six wide field">

                        <label for="confirma-password">Confirmação de senha </label>

                        <div class="ui left labeled icon input">

                            <input type="password" id="confirma-password" name="confirma-password" value="" placeholder="Confirme sua senha" required>
                            <i class="lock icon"></i>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="ui divider"></div>

                <button class="ui labeled icon button"  data-tab="empresa_contato" id="etapa_anterior_login"> 
                    <i class="left arrow icon"></i>
                    Etapa anterior 
                </button>

                <button type="submit" class="ui floated right labeled icon button"> 
                    <i class="checkmark icon"></i>
                    Enviar solicitação 
                </button>

            </div>

        </form>

      </div>

    </div>

  </article>

{% endblock %}
  


