/*******************************
            Global
*******************************/


html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

a {
  color: #007aa7;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #009fda;
}

p a {
  font-weight: bold;
}

img{
    max-width: 100%;

}

figure{

  margin: 0px;
}

#login .button{

  float:right;
}

#home p{

  line-height: 1.7;
}

/*******************************
          Overrides
*******************************/
 
.hidden,
.cnpj, .crea, .uf{

  display: none;

}

/****************************
  Status Convênio | Vaga 
*****************************/

/* Nao analisado */

.ui.status1.circular.label{

  background-color: #ddd142;
}

/* Em andamento - Preenchida */

.ui.status2.circular.label{

  background-color: #F05940;
}

/* Aprovado - Não preenchida */

.ui.status3.circular.label{

  background-color: #A1CF64;
}

/* Recusado */

.ui.status4.circular.label{

  background-color: #564F8A;
}

/* Cancelado */

.ui.status5.circular.label{

  background-color: black;
}


.ativa{

  display:block;
}


.ui.accordion .title .dropdown.icon{

  float: right;
}

/****************************
  text areas ofertas e vagas
****************************/

#add_oferta textarea{
  min-height: 2em;
  height: 4em;
  max-height: 24em;
}
/****************************
          @medias
****************************/

@media only screen and (max-width : 768px) {

  #step_menu{

    display: none;

  }

  #descricao_solicitacao{

    display: block;
  }

}


