
<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <title> {% block title %} {% endblock %} </title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/semantic.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css">

  </head>

  <body>

  <!-- ==========================================================================
   Cabeçalho
   ========================================================================== -->
  

  <header class="ui grid">
    
    <div class="sixteen wide column">

      <nav class="ui orange inverted menu">

        <label class="floated left item">Sistema Gestão Estágios </label>

        <div class="ui floated right simple dropdown item">
          <i class="user icon"></i> Login <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><i class="settings icon"></i>Alterar senha</div>
            <div class="item"><i class="off icon"></i>Logout</div>
          </div>
        </div>

      </nav>

    </div>

  </header>

  <!-- ==========================================================================
   Menu usuários
   ========================================================================== -->

  

  <!-- ==========================================================================
   Conteúdo
   ========================================================================== -->

  {% block content %}

  	{% block menu %}
      {% include 'menus.html' %}
  	{% endblock %}

  {% endblock %}

  <!-- ==========================================================================
   Rodapé
   ========================================================================== -->

  <footer class="ui grid">
    
    <div class="sixteen wide column">

      <div class="ui tertiary inverted segment">

        <p>Rodapé</p>

      </div>

    </div>

  </footer>

</body>

  <script src="{{ STATIC_URL }}javascript/jquery-2.0.3.js"></script>
  <script src="{{ STATIC_URL }}javascript/jquery.address.js"></script>
  <script src="{{ STATIC_URL }}javascript/semantic.js"></script>
  <script src="{{ STATIC_URL }}javascript/script.js"></script>
  </html>
