{% extends "base.html" %}

{% block title %} Consulta de Convênio {% endblock %}

{% block content %}
	
	<article class='ui grid'>

		<div class="three wide column">


	        <!-- Exemplo de menu com submenus a ser utilizado


	        <div class="ui vertical menu">


				<a class="active green item">
				    Solicitações
				    <div class="ui green label">52</div>
				</a>

				 <a class="item">
				    Alunos
				 
				 </a>

			  	<div class="item">

			  		<div class="ui basic accordion">
				  
					  	<div class="title">
					    	Oferta
					    	<i class="dropdown icon"></i>
					  	</div>

					  	<div class="content">

					  		<a class="item">
					  			<i class="search icon"></i>
							    Consultar
							</a>

							<a class="item">
								<i class="add icon"></i>
							    Adicionar
							</a>

					  	</div>
				  
					</div>

			  	</div>

			  	<a class="item">
				    Vagas
				    
				 </a>

	
			</div>-->

			<figure>

	        	<img src="{{ STATIC_URL }}images/banner.png"/>

	      	</figure>

	    </div>

    	<div class="thirteen wide column">

			<div class='ui green segment'>

				<h1 class="ui green  header"> Regras de convênios</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus est accumsan sem mollis, ut euismod erat viverra. Sed id felis ac nisi eleifend bibendum. Nulla molestie quam ut mi interdum tempor. Ut vel auctor lorem, in congue purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim scelerisque dui, id porta tortor convallis eu. Donec non velit eget elit posuere porta pulvinar nec enim. Nunc magna nulla, varius in venenatis id, aliquam pulvinar eros. Curabitur eu consequat risus, sed malesuada eros. Donec eu mollis metus. Sed molestie lectus vitae justo mattis, ac tristique libero rutrum.</p>

				<p>In malesuada enim a sodales pulvinar. Donec interdum ipsum elit, ut iaculis sapien suscipit eu. Donec eget est massa. Nullam non odio eu erat malesuada pellentesque ac a sapien. Curabitur aliquet nulla a blandit porta. Sed facilisis quis elit non imperdiet. Donec dapibus sapien sapien, at mattis mauris finibus vel. Aenean ullamcorper justo scelerisque ultricies cursus.</p>

				<p>Suspendisse nulla dolor, ultrices in vestibulum non, tristique in erat. Duis tellus nulla, tempor nec fringilla eget, imperdiet vel justo. Integer volutpat, mi in tincidunt pharetra, turpis nisl porta magna, sit amet efficitur turpis dolor id purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris tempor lectus maximus nunc viverra pellentesque. Donec sit amet lorem ut diam suscipit hendrerit ut dignissim nisl. Nam a eleifend diam. Nullam malesuada fermentum tempor. Cras efficitur, urna ut ullamcorper egestas, massa velit pretium magna, vitae ornare orci risus non purus. Pellentesque accumsan vitae lectus vitae scelerisque. Nulla ut tortor sapien. Mauris sagittis metus est. Suspendisse potenti.</p>

				<p>Nunc condimentum pretium velit vel sodales. Nam ac elit lectus. Suspendisse euismod at metus vitae pulvinar. Aliquam vehicula tortor dignissim, dignissim tortor fermentum, varius diam. Aenean tristique enim enim, vitae tristique sem finibus elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur a condimentum eros. Maecenas rhoncus rutrum ipsum quis scelerisque. Quisque semper est a augue consectetur vulputate.</p>

				<p>Praesent in lobortis dui, eget ornare ligula. Integer eu metus bibendum, dapibus sapien et, convallis augue. Duis viverra ex at felis laoreet, nec tincidunt turpis ultricies. Integer lacinia et lorem ut porta. Nullam at lobortis turpis, at pulvinar enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Suspendisse at lacus velit. Donec a tristique augue. Nullam nisl purus, placerat id hendrerit eget, posuere nec ex. Duis in orci a sem semper convallis eu in dui. Integer imperdiet lacus a quam placerat faucibus. Ut sit amet porta libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>


			</div>

		</div>
		


	</article>

{% endblock %}