{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
	
	<article class="ui three column floated center page grid">

        <div class="column">

        </div>

        <div class="column">
            

            <form class="ui form green segment" method="POST" action="." id='login'>

                <div class="field">

                    <label for="login">Usuário </label>

                    <input type="text" id="login" name="login">

                </div>

                <div class="field">

                    <label for="senha">Senha</label>

                    <input type="text" id="senha" name="senha">

                </div>

                <div class="one fluid ui buttons">

                    <button type="submit" class="ui primary positive labeled icon button"> 
                        <i class="checkmark icon"></i>
                        Enviar
                    </button>

                </div>

            </form>

        </div>

        <div class="column">

        </div>
        
        
    </article>

{% endblock %}