{% block menu %}

<div class="three wide column">

	<nav class="ui vertical menu">
	<!-- ==========================================================================
								Menus Empresa
	========================================================================== -->	
	

		<a href='/convenios_reitoria/' class="green item" id='empresa_ofertas'> 
			Gerenciar ofertas
		
		</a>

		<a href='/convenios_reitoria/' class="green item" id='empresa_estagios'> 
			Gerenciar estágios
		
		</a>

		<a href='/convenios_reitoria/' class="green item" id='empresa_supervisores'> 
			Gerenciar supervisores
		
		</a>

		<a href='/meu_convenio/' class="green item" id='meu_convenio'> 
			Consultar convênio
		
		</a>

	

	<!-- ==========================================================================
									Menus Reitoria
	========================================================================== -->

		<a href='/convenios_reitoria/' class="green item" id='todos'> 
			Todos os convênios
			
		</a>

		<a href='/consulta_convenio/' class="green item" id='status'>
			Convênios por status
			
		</a>
	
	</nav>

	

</div>

{% endblock %}